.containButton{
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

#goToCart{
    width: 20%;
    margin-right: 5%;
    font-size: 2rem;
    text-align: center;
   
}

#viewProduct{
    width: 20%;
    margin-left: 5%;
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 415px){
    #goToCart{
        width: 40%;
        margin-right: 5%;
        font-size: 1rem;
        text-align: center;
       
    }
    
    #viewProduct{
        width: 40%;
        margin-left: 5%;
        font-size: 1rem;
        text-align: center;
    }
}

@media (max-width: 768px){
    #goToCart{
        width: 40%;
        margin-right: 5%;
        font-size: 1.5rem;
        text-align: center;
       
    }
    
    #viewProduct{
        width: 40%;
        margin-left: 5%;
        font-size: 1.5rem;
        text-align: center;
    }
}

@media (max-width: 1024px){
    #goToCart{
        width: 30%;
        margin-right: 5%;
        font-size: 1.5rem;
        text-align: center;
       
    }
    
    #viewProduct{
        width: 30%;
        margin-left: 5%;
        font-size: 1.5rem;
        text-align: center;
    }
}

